<!DOCTYPE html>
<html>
  <head>
    <title>Local Search</title>
    <link href="{{ url_for('static', filename='css/search.css') }}" rel="stylesheet">
  </head>
  <body>
    <!-- Navigation bar -->
    <div class="navbar">
		<a href="{{ url_for('google_search') }}">Web Search</a>
		<a href="{{ url_for('whoosh_search') }}">Local Search</a>
    </div>

	<br>

	<h1> Local Search </h1>
    <!-- Search form -->
    <form method="POST" action="{{ url_for('whoosh_search') }}">
      <input type="text" id="query" name="query">
      <button type="submit">Submit</button>
    </form>

	<br>

	{% if results != None %}
	<ul>
	{% for  result in results %}
	  {% if loop.index0 == 0 %}
	    <hr>
	  {% endif %}
	  <li>
	    <a href="local-display/{{ loop.index0 }}">{{ '"' }}{{ result["song"] }}{{ '"' }} by {{ result["artist"] }}: Ranked #{{ result["rank"] }} in {{ result["year"] }}.</a>
		<p>{{ result.highlights("lyrics")|safe }}<p>
	  </li>
	  <hr>
	{% endfor %}
	</ul>
	{% endif %}

  </body>
</html>
